/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     rgba(30, 30, 46, 0.8);
    background-alt: rgba(30, 30, 46, 0.8);
    foreground:     #CDD6F4FF;
    selected:       #5865F2FF;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
